@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
    border-top: 1px solid #eeeeee;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }
  .navbar .navbar-nav .nav-item.dropdown {
    width: 100%;
  }
  .navbar .dropdown-toggle::after {
    position: absolute;
    right: 0px;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 165%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .carousel .carousel-item {
    position: relative;
    min-height: 600px;
  }

  .carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel .carousel-indicators [data-bs-target] {
    width: 60px;
    height: 60px;
  }

  .carousel .carousel-caption {
    padding-left: 10rem;
  }
  .booking-deatails.last::after {
    content: "";
    position: absolute;
    background-color: var(--gray-color);
    width: 100%;
    height: 1px;
    right: auto;
    bottom: 0;
    display: block;
  }
}

@media (max-width: 768px) {
  .carousel .carousel-item {
    min-height: 500px;
  }

  .carousel .carousel-indicators [data-bs-target] {
    width: 50px;
    height: 50px;
  }

  .carousel .carousel-caption {
    padding-left: 20px;
    top: 0px;
  }
  .flight-details .tab-content {
    background-color: var(--white-color);
    background-image: none;
    margin-top: 0px;
    padding-top: 10px;
  }
  .booking-deatails.center {
    justify-content: flex-start;
  }
  .booking-info {
    flex-direction: column;
  }
  .booking-deatails {
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .booking-deatails::after {
    width: 100%;
    height: 1px;
    right: auto;
    bottom: 0;
  }
  .flight-details {
    bottom: auto;
    margin-top: 20px;
  }
  .carousel .carousel-caption span {
    font-size: 20px;
  }
  .carousel .carousel-caption h1 {
    font-size: 40px;
    line-height: 36px;
  }
  .carousel .carousel-caption p {
    font-size: 17px;
    padding-top: 0;
    padding-left: 2px;
  }
  .flight-details #nav-tab {
    overflow: visible;
    padding: 9px 6x;
  }
  .flight-details #nav-tab button {
    padding: 7px 9px 10px 9px;
    font-size: 14px;
    font-weight: 600;
  }
  .flight-details #nav-tab button img {
    width: 15px;
  }
}

@media (min-width: 1200px) {
  /* .carousel .carousel-item .display-1 {
    font-size: 7rem;
  } */
}
